{% extends "::backend.html.twig" %}

{% block title%}
    Lista de menus
{% endblock%}

{% block content %}
    <h1>Menus:</h1>
    <a href="{{ path('_menu_admin_new') }}">Novo Menu!</a><br />
    <div class="grid_12">
        <table style="border: 2px solid black; width: 100%;">
            <tr>
                <th style="text-align: center; border: 2px solid black;">Menu Name</th>
                <th style="text-align: center; border: 2px solid black;">Ordem</th>
                <th style="text-align: center; border: 2px solid black;">Name</th>
                <th style="text-align: center; border: 2px solid black;">Role</th>
                <th style="text-align: center; border: 2px solid black;">Url</th>
            </tr>
            {% for k , j in menu %}
                <tr>
                {% for name in j %}
                    <td style="border-top: 2px solid black; text-align: center;">
                        {% if name != "" or name == 0%}
                            {{ name }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                {% endfor %}
                    <td style=" border-top: 2px solid black; width: 60px; text-align: center;">
                        <a href="{{ path('_menu_admin_edit', {'id': k}) }}">
                            <img src="{{ asset('bundles/mastopmenu/images/edit.png') }}" alt="Editar">
                        </a>
                        <a href="{{ path('_menu_admin_confirm_delete', {'id': k}) }}">
                            <img src="{{ asset('bundles/mastopmenu/images/delete.gif') }}" alt="Delete">
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
     
{% endblock %}

{% set code = code(_self) %}